In [1]:
import pandas as pd
import numpy as np

In [6]:
dataset=pd.read_csv('movie_metadata.csv')

In [7]:
dataset.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [9]:
refined_dataset=dataset.loc[:,['director_name','genres','actor_1_name','actor_2_name','actor_3_name','movie_title']]

In [10]:
refined_dataset

,director_name,genres,actor_1_name,actor_2_name,actor_3_name,movie_title
0,James Cameron,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,Avatar
1,Gore Verbinski,Action|Adventure|Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Pirates of the Caribbean: At World's End
2,Sam Mendes,Action|Adventure|Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Spectre
3,Christopher Nolan,Action|Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,The Dark Knight Rises
4,Doug Walker,Documentary,Doug Walker,Rob Walker,NaN,Star Wars: Episode VII - The Force AwakensÂ ...
...,...,...,...,...,...,...
5038,Scott Smith,Comedy|Drama,Eric Mabius,Daphne Zuniga,Crystal Lowe,Signed Sealed Delivered
5039,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,Valorie Curry,Sam Underwood,The Following
5040,Benjamin Roberds,Drama|Horror|Thriller,Eva Boehnke,Maxwell Moody,David Chandler,A Plague So Pleasant
5041,Daniel Hsia,Comedy|Drama|Romance,Alan Ruck,Daniel Henney,Eliza Coupe,Shanghai Calling
5042,Jon Gunn,Documentary,John August,Brian Herzlinger,Jon Gunn,My Date with Drew

In [12]:
refined_dataset.isnull().sum()

director_name    104
genres             0
actor_1_name       7
actor_2_name      13
actor_3_name      23
movie_title        0
dtype: int64

In [13]:
refined_dataset['actor_1_name'] = refined_dataset['actor_1_name'].replace(np.nan, 'unknown')
refined_dataset['actor_2_name'] = refined_dataset['actor_2_name'].replace(np.nan, 'unknown')
refined_dataset['actor_3_name'] = refined_dataset['actor_3_name'].replace(np.nan, 'unknown')
refined_dataset['director_name'] = refined_dataset['director_name'].replace(np.nan, 'unknown')

In [14]:
refined_dataset.isnull().sum()

director_name    0
genres           0
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
dtype: int64

In [16]:
refined_dataset['genres'].value_counts()

Drama                                                         236
Comedy                                                        209
Comedy|Drama                                                  191
Comedy|Drama|Romance                                          187
Comedy|Romance                                                158
                                                             ...
Comedy|Fantasy|Thriller                                         1
Comedy|Documentary|Drama|Fantasy|Mystery|Sci-Fi                 1
Adventure|Animation|Biography|Drama|Family|Fantasy|Musical      1
Action|Adventure|Animation|Comedy|Crime|Family|Fantasy          1
Action|War                                                      1
Name: genres, Length: 914, dtype: int64

In [17]:
refined_dataset['genres']=refined_dataset['genres'].str.replace('|',' ')

In [22]:
refined_dataset['movie_title']=refined_dataset['movie_title'].str.lower()

In [27]:
refined_dataset['movie_title'][0]

'avatar'

In [26]:
refined_dataset['movie_title']=refined_dataset['movie_title'].apply(lambda x:x[:-1])

In [28]:
refined_dataset.to_csv('clean_data.csv',index=False)

In [30]:
pp=pd.read_csv('clean_data.csv')

In [31]:
pp

,director_name,genres,actor_1_name,actor_2_name,actor_3_name,movie_title
0,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,avatar
1,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end
2,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre
3,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises
4,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...
...,...,...,...,...,...,...
5038,Scott Smith,Comedy Drama,Eric Mabius,Daphne Zuniga,Crystal Lowe,signed sealed delivered
5039,unknown,Crime Drama Mystery Thriller,Natalie Zea,Valorie Curry,Sam Underwood,the following
5040,Benjamin Roberds,Drama Horror Thriller,Eva Boehnke,Maxwell Moody,David Chandler,a plague so pleasant
5041,Daniel Hsia,Comedy Drama Romance,Alan Ruck,Daniel Henney,Eliza Coupe,shanghai calling
5042,Jon Gunn,Documentary,John August,Brian Herzlinger,Jon Gunn,my date with drew