In [15]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\shipr\anaconda3\lib\site-packages (4.4.1)

In [16]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\shipr\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\shipr\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.3)

In [17]:
import pandas as pd
import numpy as np
import bs4 as bs
import requests
import urllib.request

In [18]:
url="https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [21]:
source=urllib.request.urlopen(url).read()

In [22]:
soup=bs.BeautifulSoup(source,'lxml')

In [23]:
table_2020=soup.find_all('table',class_='wikitable')

In [29]:
df1=pd.read_html(str(table_2020[1]))[0]
df2=pd.read_html(str(table_2020[2]))[0]
df3=pd.read_html(str(table_2020[3]))[0]
df4=pd.read_html(str(table_2020[4]))[0]

In [30]:
df_2020=pd.concat([df1,df2,df3,df4],axis=0)

In [31]:
df_2020

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3.0,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10.0,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10.0,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10.0,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
4,JANUARY,10.0,The Sonata,Screen Media Films,Andrew Desmond (director/screenplay); Arthur M...,[6]
...,...,...,...,...,...,...
34,DECEMBER,18.0,Coming 2 America,Paramount Pictures,"Craig Brewer (director); Kenya Barris, Barry W...",[173]
35,DECEMBER,18.0,The Father,Sony Pictures Classics / Film4,Florian Zeller (director/screenplay); Christop...,NaN
36,DECEMBER,25.0,Wonder Woman 1984,Warner Bros. Pictures / DC Films / The Stone Q...,Patty Jenkins (director/screenplay); Geoff Joh...,[174]
37,DECEMBER,25.0,News of the World,Universal Pictures,Paul Greengrass (director/screenplay); Luke Da...,[175]
38,DECEMBER,NaN,NaN,NaN,NaN,NaN

In [33]:
df_2020=df_2020[['Title','Cast and crew']]

In [36]:
df_2020

                Title                                      Cast and crew
0          The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1          Underwater  William Eubank (director); Brian Duffield, Ada...
2         Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3   Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
4          The Sonata  Andrew Desmond (director/screenplay); Arthur M...
..                ...                                                ...
34   Coming 2 America  Craig Brewer (director); Kenya Barris, Barry W...
35         The Father  Florian Zeller (director/screenplay); Christop...
36  Wonder Woman 1984  Patty Jenkins (director/screenplay); Geoff Joh...
37  News of the World  Paul Greengrass (director/screenplay); Luke Da...
38                NaN                                                NaN

[182 rows x 2 columns]

In [64]:
df_2020.dropna(inplace=True)

C:\Users\shipr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
df_2020

                Title                                      Cast and crew
0          The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1          Underwater  William Eubank (director); Brian Duffield, Ada...
2         Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3   Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
4          The Sonata  Andrew Desmond (director/screenplay); Arthur M...
..                ...                                                ...
33    West Side Story  Steven Spielberg (director); Tony Kushner (scr...
34   Coming 2 America  Craig Brewer (director); Kenya Barris, Barry W...
35         The Father  Florian Zeller (director/screenplay); Christop...
36  Wonder Woman 1984  Patty Jenkins (director/screenplay); Geoff Joh...
37  News of the World  Paul Greengrass (director/screenplay); Luke Da...

[181 rows x 2 columns]

In [66]:
df_2020.to_csv('dataset_2020.csv',index=False)